<div class="bg-light lter b-b clear wrapper-md">
  <h1 class="m-n font-thin h3">Pickup</h1>
</div>

<div class="row">
<div class="col-md-12">
	<!--Begin Parent Details -->
	<div class="col-md-6">

          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">Authorized To Pickup {{ child.first_name }}</h4>              
            </div>
            <ul class="list-group list-group-lg m-b-none">
              <li class="list-group-item" ng-repeat="person in authorizedPickup">
	              <div class="row">
	              	<div class="col-sm-2">
	              		<a href class="thumb-sm m-r">
		                  <img src="img/a1.jpg" class="r r-2x">
                    </a>	
	              	</div>
	              	<div class="col-sm-8">
	              		<a class="block">{{ person.first_name }} {{ person.last_name }}</a>
                    <label class="label bg-primary">{{ person.relationship }}</label>
                  </div>
	              	<div class="col-sm-2">
	              		<button ng-click="removeAuthPickup(person, $index)" class="btn pull-right btn-rounded btn-sm btn-icon btn-danger">
		              		<i class="fa fa-minus"></i>
	              		</button>
	              	</div>
	              </div>
              </li>
              
            </ul>
            
          </div>
          
	</div>
	<!--End Parent Details-->
	<!--Begin Child Detail Form -->
	<div class="col-md-6">	
    <!--Start Contacts-->
    <div class="panel no-border">
      <div class="panel-heading wrapper b-b b-light">
        <span class="text-xs text-muted pull-right">
          <i class="fa fa-circle text-primary m-r-xs"></i> Parent
          <i class="fa fa-circle text-danger m-r-xs m-l-sm"></i> Emergency
        </span>
        <h4 class="font-thin m-t-none m-b-none text-muted">All Contacts</h4>              
      </div>
      <ul class="list-group list-group-lg m-b-none">
      <!--Begin Contacts List-->
        <li class="list-group-item" ng-repeat="contact in pickupContacts">
        <div class="row">
          <div class="col-md-2">
            <a href class="thumb-sm m-r">
              <img src="img/a1.jpg" class="r r-2x">
            </a>
          </div>
          <div class="col-md-8">
            <a href>{{ contact.first_name }} {{ contact.last_name }}</a>
            <span ng-if="contact.type == 'parent'" class="pull-right label bg-primary inline m-t-sm">{{ contact.relationship }}</span>
            <span ng-if="contact.type == 'emergency'" class="pull-right label bg-danger inline m-t-sm">{{ contact.relationship }}</span>  
          </div>
          <div class="col-md-2">
            <button ng-click="authorizePickup(contact, $index)" class="btn pull-right btn-rounded btn-sm btn-icon btn-primary">
              <i class="fa fa-plus"></i>
            </button>
          </div>  
        </div>  
        </li>
      <!--End Contacts List-->  
      </ul>
    </div>
    <!--End Contacts-->
	</div>
	<!--End Child Detail Form-->
	</div><!--End col-md-12-->
</div><!--End Row-->