<div class="bg-light lter b-b clear wrapper-md">
  <h1 class="m-n font-thin h3">Emergency</h1>
</div>

<div class="row">
<div class="col-md-12">
	<!--Begin Contact Details -->
	<div class="col-md-6">

          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <h4 class="font-thin m-t-none m-b-none text-muted">Emergency Contacts</h4>              
            </div>
            <ul class="list-group list-group-lg m-b-none">
              <li class="list-group-item" ng-repeat="person in emergencyContacts">
	              <div class="row">
	              	<div class="col-md-2">
	              		<a href class="thumb-sm m-r">
		                  <img src="img/a1.jpg" class="r r-2x">
		                </a>	
	              	</div>
	              	<div class="col-md-4">
	              		<a class="block">{{ person.first_name }} {{ person.last_name }}</a>
	              		<div>
	              			<small>{{ person.address }}, <br>
	              			{{ person.city }} {{ person.province }} {{ person.postal_code }}</small>
	              		</div>
	              	</div>
                  <div class="col-md-4">
                    <label class="label bg-danger">{{ person.pivot.relationship }}</label>
                  </div>
	              	<div class="col-sm-2">
	              		<button ng-click="deleteEmergencyContact(person, $index)" class="btn pull-right btn-rounded btn-sm btn-icon btn-danger">
		              		<i class="fa fa-trash"></i>
	              		</button>
	              	</div>
	              </div>
              </li>
            </ul>
            
          </div>
          
	</div>
	<!--End Contact Details-->
	<!--Begin Child Detail Form -->
	<div class="col-md-6">	
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Contact Details</div>
        <div class="panel-body">
          <form role="form" ng-submit="createEmergencyContact()">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>State/Province</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Postal Code</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Cell Phone</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Relation</label>
              <input type="text" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary btn-addon btn-sm">
              <i class="fa fa-plus"></i>Add Contact
            </button>
          </form>
        </div>
      </div>
    
	</div>
	<!--End Child Detail Form-->
	</div><!--End col-md-12-->
</div><!--End Row-->