<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Settings</h1>
</div>

<!--Begin Tab Content Area-->
<div class="wrapper-md">
<div class="row">
	<div class="col-md-12">
		<tabset class="tab-container">
		  	<tab>
			    <tab-heading>
			      <i class="fa fa-cog"></i> General
			    </tab-heading>
			    	I am the general settings section content area.
		    </tab>
		    <tab>
			    <tab-heading>
			      <i class="fa fa-money"></i> Payment Gateway
			    </tab-heading>
			    	I am the payment settings area. Here is where i choose my merchant (example: paypal,stripe)
		    </tab>

		</tabset>	
	</div>
</div>	

</div>

<!--End Tab Content Area -->