<style type="text/css">
	.carousel-control{
		background: white;
	}
	.carousel-indicators{
		display: none;
	}
</style>
<!-- Ajax Loader -->
  <spinner show-spinner="isLoading"></spinner>
<!--End Ajax Loader -->
<!-- Begin Display Facilities-->
<div>
	<!--Begin Full Page Loader-->
	<div style="position:absolute; top:0; left:0; width:100%; height:100%; z-index:9999; opacity:0.9;">
		
		<div class="modal-over bg-black">
		  <div class="modal-center animated fadeInUp text-center" style="width:600px;margin:-200px 0 0 -300px;">
		    <!-- Begin Facility List -->
		    <div class="row">
		    	<div class="col-md-12">
		    		<!-- carousel -->
				      <div class="panel b-a" set-ng-animate="false">
				        <div class="panel-heading">
				          Select Facility
				        </div>
				        <carousel interval="myInterval">
				          <slide ng-repeat="facility in facilities" active="facility.active">
				            <img ng-src="{{ facility.logo_url }}" class="img-full">
				            <div>
				              <h4>Facility {{$index + 1}} {{ facility.name }}</h4>
				              <p>{{facility.address}} {{facility.city}},  {{facility.province}}, {{facility.postal_code}}</p>
				              <p>{{facility.primary_phone}}</p>
				            </div>
				            <div class="panel-footer">
					          <button type="button" class="btn btn-success m-r" ng-click="selectFacility(facility)">Select This Facility</button>       
					        </div>
				          </slide>
				        </carousel>
				        
				      </div>
				    <!-- / carousel -->
		    	</div>
		    </div>
		    <!--End Facility List-->

		    <!--
		    <div class="thumb-lg">
		      <img src="img/a0.jpg" class="img-circle">
		    </div>
		    -->
		 
		  </div>
		</div>	

	</div><!--End Full Page Loader-->
</div><!--End Display Facilities-->