<div class="bg-light lter b-b clear wrapper-md">
  <h1 class="m-n font-thin h3">Health</h1>
</div>

<div class="col-md-12">

<!--Begin Tabs-->
<tabset class="tab-container">
  <!--Food Tab-->	  
  <tab>
	<tab-heading>
	  <i class="glyphicon glyphicon-cutlery"></i> Food
	</tab-heading>
    Food section here
  </tab>
  <!--End Food Tab-->

  <!--Begin Medication Section-->
   <tab>
	<tab-heading>
	  <i class="fa fa-medkit"></i> Medications
	</tab-heading>
    Medications section here
  </tab>
  <!--End Medication Section-->

  <!--Begin Allergies Section-->
   <tab>
	<tab-heading>
	  <i class="fa fa-stethoscope"></i> Allergies
	</tab-heading>
    Allergies section here
  </tab>
  <!--End Allergies Section-->

  <!--Begin Insurance Section-->
   <tab>
	<tab-heading>
	  <i class="icon icon-credit-card"></i> Insurance
	</tab-heading>
    Insurance Policy section here
  </tab>
  <!--End Insurance Section-->

  <!--Begin Doctor Section-->
   <tab>
	<tab-heading>
	  <i class="fa fa-user-md"></i> Doctor
	</tab-heading>
    Doctor Policy section here
  </tab>
  <!--End Doctor Section-->

</tabset>
<!--End Tabs-->
</div>