<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Dashboard</h1>
</div>

<div class="wrapper-md">
<div class="row">

<div class="col-sm-6">
          <div class="panel panel-default">
            <ul class="list-group no-radius">
              <li class="list-group-item">
                <span class="pull-right">Arrival / Greet Children / Rest / Quiet Time </span>
                <span class="label bg-primary">6:30am - 8:30am</span>
              </li>
              <li class="list-group-item">
                <span class="pull-right">Clean up for breakfast</span>
                <span class="label bg-info">8:40am - 8:50am</span>
              </li>
              <li class="list-group-item">
                <span class="pull-right">Breakfast</span>
                <span class="label bg-warning">8:50am - 9:15am</span>
              </li>
              <li class="list-group-item">
                <span class="pull-right">Story Time</span>
                <span class="label bg-primary">9:15am - 9:30am</span>
              </li>
              <li class="list-group-item">
                <span class="pull-right">Circle Music and movement</span>
                <span class="label bg-info">9:30am - 9:45am</span>
              </li>
              <li class="list-group-item">
                <span class="pull-right">Art / Group activities</span>
                <span class="label bg-warning">9:45am - 10:15am</span>
              </li>
            </ul>
          </div>
        </div>

<!--Stats-->
<div class="col-md-2">
  <a href="" class="block panel padder-v bg-primary item text-center">
    <span class="text-white font-thin h1 block">5</span>
    <span class="text-muted text-xs block m-b">Children</span>
    <span class="lter bottom text-muted text-right w-full">
    Open
      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
    </span>
  </a>
</div>

<div class="col-md-2">
  <a href="" class="block panel padder-v bg-success item text-center">
    <span class="text-white font-thin h1 block">2</span>
    <span class="text-muted text-xs block m-b">Notifications</span>
    <span class="lter bottom text-muted text-right w-full">
    Open
      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
    </span>
  </a>
</div>

<div class="col-md-2">
  <a href="" class="block panel padder-v bg-info item text-center">
    <span class="text-white font-thin h1 block">4</span>
    <span class="text-muted text-xs block m-b">Users</span>
    <span class="lter bottom text-muted text-right w-full">
    Open
      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
    </span>
  </a>
</div>

</div><!--End row-->
</div><!--End Wrapper-->