<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Children</h1>
</div>

<!-- Ajax Loader -->
  <spinner show-spinner="isLoading"></spinner>
<!--End Ajax Loader -->

<div class="wrapper-md">

	<div class="row">

	<div class="col-md-4">
		<div class="panel">
	            <!--Widget Header Bar-->
	            <div class="panel-heading bg-info dk no-border">
	              <div class="h4 font-thin">Jaime Bernal</div>
	            </div>
	           	
				<!--Widget Body-->
	            <div class="padder-v b-b b-light bg-light lter row text-center no-gutter">
	            <div class="hbox text-center">  
		            <div class="col padder-v">
		            	<div class="thumb-lg avatar">
			              <img src="img/a5.jpg" alt="..." class="b b-3x b-white">
			            </div>
		            </div>
		            <div class="col padder-v">
		            	<div class="w-sm">
		            		<label class="label bg-primary m-l-xs">Registered On:</label>
		            		<p>July 25, 2014</p>
		            	</div>

		            	<div class="w-sm">
		            		<label class="label bg-primary m-l-xs">Birthday:</label>
		            		<p>July 25, 1989</p>
		            	</div>

		            	<div class="w-sm">
		            		<label class="label bg-primary m-l-xs">Status:</label>
		            		<label class="label bg-success m-l-xs">Active</label>
		            	</div>
		            
		            </div>
	            </div>
	          </div>
	          
	          <div class="row">
	          	<div class="col-sm-12">
	          		
	          		<div class="m">
	          			<button class="btn btn-primary btn-addon btn-sm">
			          		<i class="glyphicon glyphicon-new-window"></i>
			          		Checkin
		          		</button>
		          		
		          		<button ui-sref="app.child.dashboard({ childId: 1 })" class="btn btn-primary btn-addon btn-sm">
			          		<i class="fa fa-folder-open"></i>
			          		Open
		          		</button>	
	          		</div>	
	          		

	          	</div>	
	          </div>
		</div>
	</div>			

	</div>

</div>
