<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Child</h1>
</div>

<div class="wrapper-md">

	<div class="row">
	<div class="col-md-3">
		<div class="panel">
	            <!--Widget Header Bar-->
	            <div class="panel-heading bg-info dk no-border">
	              <div class="h4 font-thin">Jaime Bernal</div>
	            </div>
	           	
				<!--Widget Body-->
	            <div class="padder-v b-b b-light bg-light lter row text-center no-gutter">
	            <div class="hbox text-center">  
		            <div class="col padder-v">
		            	<div class="thumb-lg avatar">
			              <img src="img/a5.jpg" alt="..." class="b b-3x b-white">
			            </div>
		            </div>
		            
	            </div>
	          </div>
	          
		</div>
	</div>	

	<!--Begin Child Nav -->
	<div class="row col-md-9">
		<div class="col-md-2">
		  <a href="" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-medkit"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Health</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a href="" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-book"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Notes</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a href="" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="glyphicon glyphicon-phone-alt"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Pickup</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a href="" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-credit-card"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Invoice</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a href="" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-ambulance"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Emergency</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a href="" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-bar-chart-o"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Reports</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
	</div>
	<!--End Child Nav-->

	<div class="col-md-9 row">
	<!--Begin Child Detail Form -->
	<div class="col-md-6">	
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Child Details</div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Birthday</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>SSN</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Gender</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Blood Type</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Status</label>
              <input type="text" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-sm btn-primary">Update</button>
          </form>
        </div>
      </div>
    
	</div>
	<!--End Child Detail Form-->

	<!--Begin Parent Details -->
	<div class="col-md-6">

          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <span class="text-xs text-muted pull-right">
                <i class="fa fa-circle text-primary m-r-xs"></i> Parent
                <i class="fa fa-circle text-danger m-r-xs m-l-sm"></i> Emergency
              </span>
              <h4 class="font-thin m-t-none m-b-none text-muted">Contacts</h4>              
            </div>
            <ul class="list-group list-group-lg m-b-none">
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a1.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-primary inline m-t-sm">Mom</span>
                <a href>Florinda Bernal</a>
              </li>
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a2.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-primary inline m-t-sm">Dad</span>
                <a href>William Bernal</a>
              </li>
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a3.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-danger inline m-t-sm">Aunt</span>
                <a href>Betty Cespendes</a>
              </li>
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a4.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-danger inline m-t-sm">Brother</span>
                <a href>William Bernal</a>
              </li>
            </ul>
            <div class="panel-footer clear">
              <button class="btn btn-primary btn-addon btn-sm">
	              <i class="fa fa-plus"></i>Add Contact
              </button>
            </div>
          </div>
          
	</div>
	<!--End Parent Details-->
	</div>
	</div>

</div>
