<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Children
  	<!--Begin Create Child Modal-->
  <span ng-controller="CreateChildModalCtrl">
	  <script type="text/ng-template" id="createChildren.html">
	    <div ng-include="'views/children/children/create.html'"></div>
	  </script>
  	<button ng-click="open('lg')" class="btn pull-right btn-rounded btn-icon btn-default">
		<i class="fa fa-child"></i>
	</button>
  </span>
  <!--End Create Child Modal-->
  </h1>
</div>
<div class="wrapper-md">

	<div class="row">

	<div class="col-md-4" ng-repeat="child in children">
		<div class="panel">
	            <!--Widget Header Bar-->
	            <div class="panel-heading bg-info dk no-border">
	              <div class="h4 font-thin">{{ child.first_name }} {{ child.last_name }}</div>
	            </div>
	           	
				<!--Widget Body-->
	            <div class="padder-v b-b b-light bg-light lter row text-center no-gutter">
	            <div class="hbox text-center">  
		            <div class="col padder-v">
		            	<div class="thumb-lg avatar">
			              <img src="img/a5.jpg" alt="..." class="b b-3x b-white">
			            </div>
		            </div>
		            <div class="col padder-v">
		            	<div class="w-sm">
		            		<label class="label bg-primary m-l-xs">Registered On:</label>
		            		<p>{{ child.created_at }}</p>
		            	</div>

		            	<div class="w-sm">
		            		<label class="label bg-primary m-l-xs">Birthday:</label>
		            		<p>{{ child.dob }}</p>
		            	</div>

		            	<div class="w-sm">
		            		<label class="label bg-primary m-l-xs">Status:</label>
		            		<label class="label bg-success m-l-xs">Active</label>
		            	</div>
		            
		            </div>
	            </div>
	          </div>
	          
	          <div class="row">
	          	<div class="col-sm-12">
	          		
	          		<div class="m">
	          			
	          			<button ng-click="checkin(child, $index)" ng-hide="child.checkins" class="btn btn-primary btn-addon btn-sm">
			          		<i class="glyphicon glyphicon-new-window"></i>
			          		Checkin
		          		</button>

	          			<button ng-click="checkout(child, $index)" ng-show="child.checkins" class="btn btn-danger btn-addon btn-sm">
			          		<i class="glyphicon glyphicon-new-window"></i>
			          		Checkout
		          		</button>
		          		
		          		<button ui-sref="app.child.dashboard({ childId: child.id })" class="btn btn-primary btn-addon btn-sm">
			          		<i class="fa fa-folder-open"></i>
			          		Open
		          		</button>	
	          		</div>	
	          		

	          	</div>	
	          </div>
		</div>
	</div>			

	</div>

</div>
