<div class="bg-light lter b-b clear wrapper-md">
  <h1 class="m-n font-thin h3">Child Dashboard</h1>
</div>

<div class="row">
<div class="col-md-12">
	<!--Begin Child Detail Form -->
	<div class="col-md-6">	
      <div class="panel panel-default">
        <div class="panel-heading font-bold">Child Details</div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Birthday</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>SSN</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Gender</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Blood Type</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Status</label>
              <input type="text" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-sm btn-primary">Update</button>
          </form>
        </div>
      </div>
    
	</div>
	<!--End Child Detail Form-->

	<!--Begin Parent Details -->
	<div class="col-md-6">

          <div class="panel no-border">
            <div class="panel-heading wrapper b-b b-light">
              <span class="text-xs text-muted pull-right">
                <i class="fa fa-circle text-primary m-r-xs"></i> Parent
                <i class="fa fa-circle text-danger m-r-xs m-l-sm"></i> Emergency
              </span>
              <h4 class="font-thin m-t-none m-b-none text-muted">Contacts</h4>              
            </div>
            <ul class="list-group list-group-lg m-b-none">
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a1.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-primary inline m-t-sm">Mom</span>
                <a href>Florinda Bernal</a>
              </li>
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a2.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-primary inline m-t-sm">Dad</span>
                <a href>William Bernal</a>
              </li>
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a3.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-danger inline m-t-sm">Aunt</span>
                <a href>Betty Cespendes</a>
              </li>
              <li class="list-group-item">
                <a href class="thumb-sm m-r">
                  <img src="img/a4.jpg" class="r r-2x">
                </a>
                <span class="pull-right label bg-danger inline m-t-sm">Brother</span>
                <a href>William Bernal</a>
              </li>
            </ul>
            <div class="panel-footer clear">
              <button class="btn btn-primary btn-addon btn-sm">
	              <i class="fa fa-plus"></i>Add Contact
              </button>
            </div>
          </div>
          
	</div>
	<!--End Parent Details-->
	</div><!--End col-md-12-->
</div><!--End Row-->