<div class="aside-wrap">
  <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
    <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
  -->
  <div class="navi-wrap">
    <!-- nav -->
    <!--Based On Role-->
    <nav ng-if="user.parent" ui-nav class="navi clearfix" ng-include="'views/blocks/nav/parent.html'"></nav>
    <nav ng-if="user.staff" ui-nav class="navi clearfix" ng-include="'views/blocks/nav/staff.html'"></nav>
    <nav ng-if="user.admin" ui-nav class="navi clearfix" ng-include="'views/blocks/nav/admin.html'"></nav>
    <!-- nav -->

  </div>
</div>