<div class="row col-md-9">
		<div class="col-md-2">
		  <a ui-sref="app.child.health({ childId: child.id })" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-medkit"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Health</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a ui-sref="app.child.notes({ childId: child.id })" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-book"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Notes</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a ui-sref="app.child.pickup({ childId: child.id })" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="glyphicon glyphicon-phone-alt"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Pickup</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a ui-sref="app.child.invoice({ childId: child.id })" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-credit-card"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Invoice</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a ui-sref="app.child.emergency({ childId: child.id })" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-ambulance"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Emergency</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
		<div class="col-md-2">
		  <a ui-sref="app.child.reports({ childId: child.id })" class="block panel padder-v bg-primary item text-center">
		    <span class="text-white font-thin h4 block">
		    	<i class="fa fa-bar-chart-o"></i>
		    </span>
		    <span class="text-muted text-xs block m-b">Reports</span>
		    <span class="lter bottom text-muted text-right w-full">
		    Open
		      <i class="fa fa-arrow-circle-right text-muted m-r-sm"></i>
		    </span>
		  </a>
		</div>
	</div>